<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../shared/head %>
</head>
<body>

  <header>
    <% include ../shared/header %>
  </header>

  <div class="works">
    <% works.forEach(function(work) { %>
      <!-- Rendered once per local work -->
      <% include ./home/work %>
    <% }) %>
  </div>

</body>
</html>
