body {
  background-color: #F7CF4B;
  font-family: 'Droid Sans Mono', sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
  margin: 20px 20px 0px 0px;
  float: left;
}

@media(min-width: 760px) {
  h1 {
    font-size: 60px;
  }
}

nav > ul {
  padding: 0;
  list-style-type: none;
}

nav > ul li {
  float: left;
}

nav a {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  background-color: #000;
  color: #F7CF4B;
}

.intro {
  max-width: 720px;
  margin-bottom: 40px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works .work-prev {
  position: relative;
  margin: 20px;
  width: 320px;
  height: 320px;
}

.work-prev-name {
  color: #F7CF4B;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.work-prev-name {
  text-transform: uppercase;
}

.work-prev-name h3 {
  font-size: 32px;
  line-height: 35px;
  margin: 0px 0px 10px 0px;
}

.work-prev-name p {
  margin: 0px;
}

.work-prev-image:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.work-prev:hover .work-prev-image:after {
  opacity: 1;
}

.work-prev:hover .work-prev-name {
  opacity: 1;
}

.work-title {
  text-transform: uppercase;
}

.work-thumbs {
  display: flex;
}

.work-carousel-nav {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 96px;
}

.work-carousel-nav-thumb {
  height: 96px !important;
  background-size: cover;
  margin: 5px;
}

.work-carousel {
  max-width: 800px;
  height: 500px;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
}

.work-carousel-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  min-height: 500px;
}

.slick-slider {
  margin-bottom: 10px !important;
}

