<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../shared/head %>
</head>
<body>

  <header>
    <% include ../../shared/header %>
  </header>

  <div class="intro">
    <% if (intro) { %>
      <%= intro.content %>
    <% } %>
  </div>

  <div class="works">
    <% works.forEach(function(work) { %>
      <% include ./work %>
    <% }) %>
  </div>

</body>
</html>
