<div class="work">
  <div class="work-image" style="background: url('<%= work.images[0].url %>') 25% 25% no-repeat; width: 320px; height: 320px;" alt="<%= work.title %>">
  </div>
  <div class="work-name">
    <h3><%= work.title %></h3>
    <p>October 2013</p>
  </div>
</div>

